body, html { height: 100%; font-family: 'avenir-next-regular', 'arial', 'sans-serif'; }
body   { background: #666; }
.screen { width: 100%; margin: 0 auto; height: 100%; overflow: hidden; }
.warp	{ height: 100%; width: 100%; margin: 0 auto; padding: 0 8pt; }
.hide	{ display: none !important; }

header, section { width: 100%; }
header { position: relative; opacity: .8; height: 48pt; margin-bottom: 10px;  
	}
	header span { 
		width: 100%; line-height: 50pt; height: 100%; color: #F18C52; text-align: center; 
		font-family: 'avenir-next-bold'; display: block; font-size: 14pt;
		}

section.feed { height: 100%; overflow-y: scroll; overflow-x: hidden;
	}
	section.feed > ul { padding: 0 0 10px 0; display: block;
		}
		.warpper {
			width: 100%; position: relative;
			}
		section.feed > ul > .warpper > li { 
			padding: 0 8pt;
			margin-bottom: 20px;
			position: relative;
			z-index: 2;
			border: #F18C52 solid 1px;
			border-top: none; border-left: none; border-right: none;
			overflow: visible; background: #212430;
			}

			section.feed > ul > li > p { display: block; }
			.date { color: #F2F2F2; font-family: 'avenir-next-bold'; margin-bottom: 5px; font-size: 14pt; }
			.description { color: #F2F2F2; font-size: 13pt; }
			.link { 
				margin: 20px 0 20px 0; display: block; 
				color: #F18C52; text-transform: uppercase;
				}
		

.row_1, .row_2, video { height: 100%; width: 100%; background: #212430; overflow: hidden; }
video { position: absolute; top: 0; left: 0; width: 100%; z-index: 200; background: #FFF !important; }

h1  { 
	font-family: 'avenir-next-bold'; color: #F18C52; 
	display: block; width: 100%; text-align: center; 
	font-size: 30pt; margin: 40px 0 5px 0; 
	}
h2  {
	font-family: 'avenir-next-thin'; font-size: 12pt; text-align: center;
	color: #F2F2F2; margin-bottom: 80px;
	}
p.for_ligin {
	font-size: 12pt; text-align: center; color: #F2F2F2;
	display: block; width: 100%;margin-bottom: 80px;
	}	
input[type="password"], button.valid_code {
	width: 250px; height: 40px; border-radius: 5px; line-height: 40px; background: transparent; 
	margin: 0 auto 20px auto; display: block; font-size: 14pt; font-family: 'avenir-next-thin';
	text-align: center;
	}
	input[type="password"]	{ border: #F18C52 solid 1px; color: #F18C52; }
	button.valid_code 		{ border: #F2F2F2 solid 1px; color: #F2F2F2; cursor: pointer; }

	.spinner {
  width: 40px;
  height: 40px;

  position: absolute;
  margin: 100px auto; opacity: 0;
  top: 0; left: 50%; margin-left: -20px;
  z-index: -1;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #F2F2F2;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*part tim*/

 	section.feed > ul > .warpper > .Hearing {
	background: blue;
}

 	section.feed > ul > .warpper > .Markup {
	background: red;
}
 	section.feed > ul > .warpper > .Meeting {
	background: orange;
}

 	section.feed > ul > .warpper > .undefined {
	background: pink;
}